.ql-snow
    .ql-picker-label
        &:before
            vertical-align top
    .ql-color-picker
    .ql-icon-picker
        .ql-picker-label
            svg
                vertical-align top
    &.ql-toolbar
        border 1px solid #dcdfe6
        border-radius 4px 4px 0 0
        .ql-formats
            border-right 1px solid #dcdfe6
            margin-right 8px
            padding-right 8px
    &.ql-container
        border 1px solid #dcdfe6
        border-radius 0 0 4px 4px
        height 5rem