.c-input
    &-wrapper
        @extend .rel
        width 100%
        min-height input_height
        line-height input_lineHeight
        font-size input_fontSize
        border input_border
        border-radius input_border_radius
        overflow hidden
    &-type
        width 100%
        height inherit
        line-height inherit
        font-size inherit
        padding 0 10px
        border none
        outline none
    &-textarea
        height 200%
        line-height 1.6em
        resize none
    &-prepend
        @extend .p-l-lg
        text-indent 0
    &-append
        @extend .p-r-lg