.c-list
    position relative
    &-item
        position relative
        padding 16px 24px
        border-bottom 1px solid #e3e3e3
        &:last-of-type
            border-bottom none
        &:hover
            background #fcfcfc