/**
 * 通用样式
 * @author vimo
 * @date 2018-01-11
 */
*
    box-sizing border-box
    
// 颜色
tagColorFun()

html
body
#app
    position relative
    width 100%
    height 100%
    overflow hidden

.transition
    transition all .8s ease

// 手势
.pointer
    cursor pointer

// 省略号文字截断
.t-ell
    white-space nowrap
    text-overflow ellipsis
    overflow hidden

// 左右对齐
.f-l
    float left
.f-r
    float right

// 定位
.rel
    position relative
.abs
    position absolute
.fixed
    position fixed

// 字体位置
.align-c
    text-align center
.align-l
    text-align left
.align-r
    text-align right

// 显示器
.display-b
    display block
.display-ib
    display inline-block
.display-n
    display none
.display-i
    display inherit

// 清除浮动
.clearfix:before, .clearfix:after
    content ""
    display table
.clearfix:after
    clear both
    overflow hidden
.clearfix
    zoom 1
.clear
    clear both
    display block
    font-size 0
    height 0
    line-height 0
    overflow hidde

/* 基础设置 */
*:hover
    @extend .transition

.container
    max-width 1024px
    margin 0 auto

.a
    text-decoration none
    color rgba(0, 0, 0, .75)
    &:hover
        color rgba(0, 0, 0, 1)
    &&-l-f
        color rgba(255, 255, 255, .45)
        &:hover
            color rgba(255, 255, 255, 1)
        
/* 布局 */
.l-wrapper
    height 100%
    overflow-x hidden

.l-main
    padding 30px 0

.l-footer
    padding 20px 0
    color rgba(255, 255, 255, .45)
    background #2d3237
    &-nav
    &-msg
        line-height 36px

/* flex */
.flex
    display flex
    &-row
        flex-direction row // 默认
    &-row-r
        flex-direction row-reverse
    &-column
        flex-direction column
    &-column-r
        flex-direction column-reverse
    
    &-nowrap
        flex-wrap nowrap // 不换行
    &-wrap
        flex-wrap wrap // 默认
    &-wrap-r
        flex-wrap wrap-reverse
        
    &-justify
        justify-content flex-start // 默认
    &-justify-r
        justify-content flex-end // 右对齐
    &-justify-c
        justify-content center // 中间
    &-justify-sb
        justify-content space-between // 两端对齐
    &-justify-sa
        justify-content space-around // 每个项目两侧的间隔相等
        
    &-items
        align-items stretch // 默认 上下对齐
    &-items-up
        align-items flex-start // 上对齐
    &-items-down
        align-items flex-end // 下对齐
    &-items-c
        align-items center // 中间对齐
    &-items-b
        align-items baseline // 第一行文字对齐
        
    &-align
        align-content stretch
    &-align-up
        align-content flex-start
    &-align-down
        align-content flex-end
    &-align-c
        align-content center
    &-align-sb
        align-content space-between
    &-align-sa
        align-content space-around
        
    &-item-self
        align-self auto
    &-item-self-up
        align-self flex-start
    &-item-self-down
        align-self flex-end
    &-item-self-c
        align-self center
    &-item-self-b
        align-self baseline
    &-item-self-s
        align-self stretch

// margin
marginFun(common_box_list)
marginFun(common_box_list, false, t)
marginFun(common_box_list, false, b)
marginFun(common_box_list, false, l)
marginFun(common_box_list, false, r)

// padding
paddingFun(common_box_list)
paddingFun(common_box_list, false, t)
paddingFun(common_box_list, false, b)
paddingFun(common_box_list, false, l)
paddingFun(common_box_list, false, r)