/**
 * 项目总样式文件
 * @author vimo
 * @date 2018-01-18
 *
 * --- function ----
 * mixins
 *
 * --- common ----
 * common
 *
 * --- component ----
 * #业务公共变量
 * #组件样式
 * #第三方样式
 */

// 业务公共变量
@import 'var'
@import 'mixins'
@import 'base'
@import 'common'
@import 'animate/index'

// 组件样式
@import 'components/index'

// 第三方样式
@import 'libs/index'

// 页面样式
@import 'views/index'
